@font-face {
  font-family: "Regular";
  src: url(../../public/Pretendard-Regular.woff);
}
@font-face {
  font-family: "Medium";
  src: url(../../public/Pretendard-Medium.woff);
}
@font-face {
  font-family: "Bold";
  src: url(../../public/Pretendard-SemiBold.woff);
}

* {
  font-family: "Regular";
  color: #2c292f;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}
